.shops-page {
  padding: 50px;
}

.shop-list {
  width: 20%;
  min-width: 200px;
  border-top: none;
  border-bottom: solid 1px #ddd;
}

.shop-details {
  width: 80%;
  padding: 10px;
}

.shops-section {
  display: flex;
  flex-direction: row;
  border: solid 1px #ddd;
}

.add-shop-btn {
  padding: 10px;
}

.parent-of-list {
  position: relative;
  border-right: solid 1px #ddd;
}

.delete-modal-button {
  padding: 10px;
  margin:10px;
}

.modal-body-delete {
  display:flex;
}