.shops-page {
  padding: 50px;
}

.shop-list {
  width: 20%;
  min-width: 200px;
  border-right: solid 1px #ddd;
  border-top: none;
  border-bottom: none;
}

.shop-details {
  width: 80%;
  padding: 10px;
}

.shops-section {
  display: flex;
  flex-direction: row;
  border: solid 1px #ddd;
}

.add-shop-btn {
  padding: 10px;
}

.force-to-bottom {
  position: absolute;
  bottom: 0;
}

.parent-of-list {
  position: relative;
}