.slider {
	padding:15px;
}

.rc-slider {
    height: 10px;
    width: 100%;
    background-color:white;
}

.rc-slider-track {
	height: 10px;
    background-color: #337ab7;
}

.rc-slider-handle {
    width: 20px;
    height: 20px;
    border: solid 2px #2e6da4;
}

.rc-slider-handle:hover {
    border-color: #337ab7;
}

.grid-panel {
	width:auto;
}

.admin-modal {
    float:left;
}

.edit-box{
        background-color: #d9edf7;
            background-clip: content-box;
                margin: 20px;
                border-color: #bce8f1;
                border-style:solid;
                border-width:2px;
}

.edit-text {
    color: #3a87ad;
    text-align: center;
}

.save-edit-button{
        position: relative;
    top: 50%;
    left: 50%;
}



.entrance-view-box{
    
    padding: 20px;
    background-clip: content-box;
    border-color: #faebcc;
    background: #fcf8e3;
    border-style:solid;
    border-width:2px;
    margin: 10px -15px;
}

.entrance-view-text {
    color: #8a6d3b;
    text-align: center;
    margin:auto;
}

.entrance-view-button{
    text-align: center;
    margin: 1%;

}

.entrance-view-button-inner {
        border-color: #faebcc;
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.entrance-view-button-inner:hover {
color: #3a87ad;
    background-color: #d9edf7;
     border-color: #bce8f1;

}

.entrance-view-button-inner:active {
        border-color: #faebcc;
    background-color: #fcf8e3;
    color: #8a6d3b;

}